cairocffi>=1.6.0
CairoSVG>=2.7.0
cffi>=1.15.0
cssselect2>=0.7.0
customtkinter>=5.2.0
darkdetect>=0.8.0
defusedxml>=0.7.0
packaging>=24.0
pillow>=10.0.0
pycparser>=2.21
tinycss2>=1.2.0
webencodings>=0.5.1
